<div class="form-group">
    <input type="text" class="form-control" placeholder="Your School Name *" value="" />
</div>  
<div class="form-group">
    <input type="text" class="form-control" placeholder="Your Email *" value="" />
</div>
<div class="form-group">
    <input type="password" class="form-control" placeholder="Your Password *" value="" />
</div>
<div class="form-group">
    <input type="confirmpassword" class="form-control" placeholder="Confirm Password *" value="" />
</div>
<div class="form-group">
    <input type="number" class="form-control" placeholder="Contact Number *" value="" />
</div>